.headlineH1{
    color: rgb(205,219,214);
    font-size: 50px;
    font-weight: bold;
}

.headlineH3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.underline{
    font-size: 20px;
    text-decoration: underline;
}